<!DOCTYPE html>
<html>
    <head>
        <title>SimpleCRUDApp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
    <body>
        <nav>
            <div class="nav-wrapper container">
              <a href="/" class="brand-logo">SimpleCRUDApp</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/add-items">Add Items</a></li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <i class="material-icons prefix">phone</i>
                      <input id="icon_telephone" type="tel" class="validate">
                      <label for="icon_telephone">Telephone</label>
                    </div>
                    <a class="waves-effect waves-light btn">Add</a>
                  </div>
                </form>
              </div>
          </div>
    </body>
</html>